!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    96
Xft.antialias:              true
Xft.hintstyle:              full
! Xft.rgbbBa:               rgb
! Xft.hinting:              1 

URxvt.termName:	            xterm-256color
URxvt.depth:                32
URxvt.geometry:             95x22
URxvt.transparent:          false
URxvt.fading:               0
URxvt.visualBell:           false
URxvt.loginShell:           false
URxvt.saveLines:            500
URxvt.internalBorder:       3
URxvt.lineSpace:            0 
! URxvt.buffered:           true
! URxvt.urgentOnBell:       true

! Fonts
URxvt.allow_bold:           true

URxvt.font:                 xft:Ubuntu Mono:style=Regular:pixelsize=16,xft:Inconsolata:style=Medium:size=12
URxvt.boldFont:	            xft:Ubuntu Mono:style=Bold:pixelsize=16,xft:Inconsolata:style=Medium:size=12
!xft:envypn:style=Regular:pixelsize=15,xft:Inconsolata:style=Medium:size=12
!xft:envypn:style=Regular:pixelsize=15

! Fix font space
URxvt.letterSpace:          0

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,selection-to-clipboard,resize-font
URxvt.keysym.C-S-space:	    perl:url-select:select_next
URxvt.url-select.launcher:  /usr/bin/xdg-open
URxvt.url-select.underline: false

URxvt.resize-font.step: 1

!URxvt.matcher.button:       1
!URxvt.urlLauncher:          google-chrome-stable

! Cursor
! URxvt.cursorColor:        #657b83
URxvt.cursorBlink:          true
URxvt.cursorColor:          #B3B3B3
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

! Disable iso14755

URxvt.iso14755:             false
URxvt.iso14755_52:          false

URxvt.iconFile:				/usr/share/icons/Adwaita/scalable/apps/utilities-terminal-symbolic.svg

! XTERM-CONFIG
!------------------------------------------------

XTerm*termName: xterm-256color

! Fonts:
Uxterm*faceName: envypn:style=Regular
Uxterm*faceSize: 15

! Configuración local
UXTerm*locale: 	true

! Colors

! special
*.foreground:   #ffffff
*.background:   #161616
*.cursorColor:  #ffffff

! black
*.color0:       #222222
*.color8:       #666666

! red
*.color1:       #e84f4f
*.color9:       #d23d3d

! green
*.color2:       #b7ce42
*.color10:      #bde077

! yellow
*.color3:       #fea63c
*.color11:      #ffe863

! blue
*.color4:       #66aabb
*.color12:      #aaccbb

! magenta
*.color5:       #b7416e
*.color13:      #e16a98

! cyan
*.color6:       #6d878d
*.color14:      #42717b

! white
*.color7:       #dddddd
*.color15:      #cccccc

! Dracula Xresources palette
! *.foreground: #F8F8F2
! *.background: #282A36
! *.color0:     #000000
! *.color8:     #4D4D4D
! *.color1:     #FF5555
! *.color9:     #FF6E67
! *.color2:     #50FA7B
! *.color10:    #5AF78E
! *.color3:     #F1FA8C
! *.color11:    #F4F99D
! *.color4:     #BD93F9
! *.color12:    #CAA9FA
! *.color5:     #FF79C6
! *.color13:    #FF92D0
! *.color6:     #8BE9FD
! *.color14:    #9AEDFE
! *.color7:     #BFBFBF
! *.color15:    #E6E6E6
